.profileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 100px;
    margin-top: 4rem;
    /* margin: auto; */
    position: relative;
}
.profileContainer img{
    z-index: 2;
}
.phoneClickMe{
    display: none;
}
.clickMe{
    position: absolute;
    top: 397px;
    z-index: 1;
    left: 312px;
    transition: 0.4s ease;
    background:rgba(193, 197, 239, 0.94);
    padding: 0.3rem;
    border-radius: 5px;
    width: 180px;
    text-align: center; 
    white-space: nowrap;
}
.clickMe:hover{
opacity: 0.6;
}
/* large screens  */
@media (max-width: 1200px){ 
    .profileContainer{
        flex-direction: column;
    }
}
@media (max-width: 600px){
    /* tablets  */
    .profileContainer{
        flex-direction: column;
        gap: 0px;
    }
    .phoneClickMe{
        display: block;
        background:rgba(210, 214, 254, 0.427);
        padding: 0.3rem;
        border-radius: 5px;
        width: 180px;
        text-align: center; 
    }
    .phoneClickMe:hover{
        opacity: 0.6;
        }
    .clickMe{
        display: none;
    }
}
@media (max-width: 480px){
    /* mobile */
    .profileContainer{
        margin-top: 2rem;
        }
}