.pfp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 100px;
    margin: auto;
    position: relative;
}
.pfp img{
    z-index: 2;
}
.clickMe{
    position: absolute;
    top: 397px;
    z-index: 1;
    left: 312px;
    transition: 0.4s ease;
    background:rgba(210, 214, 254, 0.427);
    padding: 0.3rem;
    border-radius: 5px;
    width: 180px;
    text-align: center; 
    white-space: nowrap;
}
.clickMe:hover{
opacity: 0.6;
}