.ContactConatiner{
    padding-top: 4rem;
    margin: 4rem 0 5rem 0;
}

.ContactBox{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 3rem 3.5rem 3rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
}

.ContactTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}
.ContactTitle h3{
    font-size: 3rem;
    font-weight: 700;
}

.ContactCard{
    display: flex;
    width: 100%;
    gap: 3rem;
    padding:0 5rem;
    max-width: 1000px;
}

.InfoBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
}

.InfoItem{
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    background-color: #cacfd145;
    color: var(--text);
}
.InfoItem h3{
    font-weight: bold;
}



.FormBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* color: var(--text); */
}
.FormInput {
    gap: 0.5rem;
    display: flex;
    flex-direction: column; /* Ensure space below the inputs */
  }

.UsernameInput{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid grey;
    border-color: grey;
    border-radius: 5px;
    font-size: 1rem;
    background: whitesmoke;
    color: black;
}

.EmailInput{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid grey;
    border-color: grey;
    border-radius: 5px;
    font-size: 1rem;
    background: whitesmoke;
    color: black;
}

.FormBox textarea {
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid grey;
    border-color: grey;
    border-radius: 5px;
    font-size: 1rem;
    height: 145px;
    resize: none;
    background: whitesmoke;
    color: black;
}

.DisabledSendMessage{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: #4a6572;;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    gap: 2rem;
    transition: opacity 0.3s ease;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.4;
}
.SendMessage{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: #365463;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    gap: 2rem;
    transition: opacity 0.3s ease;
    font-weight: 600;
    cursor: pointer;
}
.SendMessage:hover {
    opacity: 0.75; /* Decreases opacity by 25% */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.inputErrorMessage {
    color: red;
    font-size: 1rem;
    /* margin-top: 0.5rem; */
    display: block; /* Ensure it appears below the inputs */
  }
  
  
  .Popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 8px;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .success {
    border: 1px solid green;
    color: green;
  }
  
  .error {
    border: 1px solid red;
    color: red;
  }
  
  .Popup button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: lightgrey;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .Popup button:hover {
    opacity: 0.75;
  }

.Btnmessage{
    background-color: #365463;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    gap: 2rem;
    transition: opacity 0.3s ease;
    font-weight: 600;
    font-size: 0.9rem;
}
.Btnmessage:hover {
    opacity: 0.75; /* Decreases opacity by 25% */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.videoPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg);
}
.videoPopup span{
    font-size: 1.5rem;
    font-weight: 800;
    color: (--text);
}
.videoPopup button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: grey;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.videoPopup button:hover {
    opacity: 0.45;
  }


.videoFrame{
    height:500px;
    width: 280px;
}

/* large screens  */
@media (max-width: 1200px){ 
    .ContactCard{
        padding: 0;
    }
    .videoFrame{
        height:300px;
        width: 280px;
    }
    .videoPopup span{
        font-size: 0.7rem;
    }

}
@media (max-width: 768px){
    /* tablets  */
    .ContactCard{
        flex-direction: column;
        padding: 0;
    }

}
@media (max-width: 480px){
    /* mobile */

    .ContactBox{
        padding: 1rem 2rem;
        gap: 0.5rem;
    }
    .ContactConatiner{
        margin: 0rem;
    }
    .ContactTitle h3{
        font-size: 1.5rem;
    }
    .ContactTitle p{
        font-size: 0.8rem;
    }
    .InfoBox{
        gap: 0.5rem;
        padding: 0rem 1rem;
    }
    .InfoItem{
        gap: 0.8rem;
        padding: 0.4rem 0.5rem;
    }
    .InfoItem h3{
        font-size: 0.8rem;
    }
    .InfoItem p{
        font-size: 0.8rem;
    }
    .Btnmessage{
        padding: 0.5rem;
        font-weight: normal;
        font-size: 0.8rem;
    }
    .ContactCard{
        gap: 1rem;
    }
    .FormBox{
        padding: 0rem 1rem;
    }
    .FormInput {
        gap: 0.1rem;
      }
    .UsernameInput{
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .EmailInput{
        padding: 0.5rem;
        border-color: grey;
        font-size: 0.8rem;
    }
    .ErrorMessage {
        font-size: 0.6rem;
      }
    .FormBox textarea {
        margin-top: 0.2rem;
        width: 100%;
        padding: 0.4rem;
        font-size: 0.8rem;
    }
    .DisabledSendMessage{
        margin-top: 1.2rem;
        gap: 0.5rem;
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: normal;
    }
    .SendMessage{
        margin-top: 1.2rem;
        gap: 0.5rem;
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: normal;
    }
}