@tailwind base;
@tailwind components;
@tailwind utilities;


/*
 * Dark mode theme 
 */
 :root[data-theme='dark'] {
	--bg-main: hsl(228, 28%, 20%);
	--header-bg:		hsl(228, 34%, 66%);
	--text: 		hsl(0, 0%, 100%);
  --arora-bg: linear-gradient(45deg, rgba(0, 102, 255, 0.7), rgba(0, 204, 255, 0.5), rgba(153, 255, 255, 0.3));
  --hover-color: blue;
	--highlight-color: lightblue;
	/* Asks browser to behave in dark mode */
	color-scheme: dark;
} 

/*
 * Light mode theme 
 */
:root[data-theme='light'] {
	--bg-main: hsl(0, 0%, 100%);
	--header-bg:		hsl(0, 0%, 100%);
	--text: 		hsl(230, 17%, 14%);
  --arora-bg: linear-gradient(45deg, rgba(0, 255, 255, 0.696), rgba(190, 255, 141, 0.629), rgba(255, 247, 164, 0.322));
  --hover-color: rgb(71, 195, 71);
  --highlight-color: darkblue;
}

:root {
 scroll-behavior: smooth;
}



#main {
  padding: 0 15rem 0 15rem;
  max-width: 1800px;
  margin: auto;
  
}
/* large screens  */
@media (max-width: 1400px){ 
  #main {
    padding: 0 5rem 0 5rem;
  }
}
@media (max-width: 768px){
  /* tablets  */
  #main {
    padding: 0 2rem 0 2rem;
  }

}
@media (max-width: 480px){
  /* mobile */

}

body {
  background-color: var(--bg-main);
}

.northern-lights {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: -1;
}

@keyframes aurora {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50% {
    transform: translateX(-10%) translateY(10%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.lightOn {
  position: fixed;
  width: 200%;
  height: 200%;
  background: var(--arora-bg);
  opacity: 0.6;
  filter: blur(100px);
  transition: 0.4s ease;
  animation: aurora infinite linear;
}

.lightOn:nth-child(2) {
  transition: 0.4s ease;
  animation-duration: 5s;
  opacity: 0.8;
}

.lightOn:nth-child(3) {
  transition: 0.4s ease;
  animation-duration: 10s;
  opacity: 0.6;
}

