.AboutContainer{
  display: flex;
  padding-top: 5.9rem;
  margin: 4rem 0 5rem 0;
  gap: 7rem;
  align-items: center;
}


.About{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    color: var(--text);
}

.About h3{
    font-size: 3rem;
    font-weight: 700;
}

.aboutContent{
  color: var(--text);
}

.highlight{
    position:relative;
  }
  
  .highlight:before{
    content:"";
    z-index:-1;
    left:0em;
    top:0em;
    border-width:2px;
    border-style:solid;
    border-color:var(--highlight-color);
    position:absolute;
    border-right-color:transparent;
    width:100%;
    height:1.5em;
    transform:rotate(2deg);
    opacity:0.5;
    border-radius:0.25em;
  }
  
  .highlight:after{
    content:"";
    z-index:-1;
    left:0em;
    top:0em;
    border-width:2px;
    border-style:solid;
    border-color:var(--highlight-color);
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:1.5em;
    transform:rotate(-1deg);
    opacity:0.5;
    border-radius:0.25em;
  }

  .DownloadBtn {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    font-size:1rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    background-color: #365463;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    transition: opacity 0.3s ease;
  }
  
  .DownloadBtn:hover {
    opacity: 0.75; /* Decreases opacity by 25% */
  }

/* large screens  */
@media (max-width: 1200px){ 
  .AboutContainer{
      flex-direction: column;
  }
}
@media (max-width: 768px){
  /* tablets  */
  .AboutContainer{
    margin: 0rem;
    gap: 1rem;
    padding-top: 4rem;
  }
}
@media (max-width: 480px){
  /* mobile */
  .AboutContainer{
    padding-top: 4rem;
    gap: 0;
  }
  .About{
    align-items: center;
    gap: 0.5rem;
}
  .About h3{
    font-size: 1.5rem;
  }
  .aboutContent{
    font-size: 1rem;
  }
  .DownloadBtn {
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem;
  }
}