.navBarContainer{
    max-width: 1800px;
    /* margin: auto; */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    gap: 2rem;
    color: black;
    /* margin-bottom: 4rem; */
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: white; 
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 1rem 15rem;
    width: 100%;
}

.navBar a:hover{
    color: rgb(71, 195, 71);
}

/* large screens  */
@media (max-width: 1200px){ 
    .navBar{
        padding: 1rem 10rem;
    }
  }
  @media (max-width: 768px){
    /* tablets  */
    .navBar{
        padding: 1rem 5rem;
    }
  
  }
  @media (max-width: 480px){
    /* mobile */
    .navBar{
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
  
  }