.navBar {
    display:flex; 
    justify-content: center; 
    padding:20px;
    font-weight: bold;
    background-color: #FFFFFF;
    gap:100px;
    color: #1e1e1e45;
    text-shadow: 1px 1px 0px #1E1E1E;
}