.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    gap: 2rem;
    height: 15vh;
    color: black;
    margin-bottom: 4rem;
}

.navBar a:hover{
    color: rgb(71, 195, 71);
}