.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 700;
    margin-top: 40px;
    justify-content: flex-end;
    gap: 2rem;
    color: var(--text);
}

.intro h3 {
    font-size: 3rem;
}

.intro span {
    font-size: 1.2rem;
}

.typeConatiner {
    /* width: 580px; */
    min-height: 120px;
    font-weight: 500;
}

.socialsContiner{
    margin: 10px 0;
}


@media (max-width: 1200px){ 
    .typeConatiner {
        min-height: 0px;
    }

}
@media (max-width: 480px){
    /* mobile */
    .intro {
        margin-top: 20px;
        gap: 1.2rem;
    }
    .intro h3 {
        font-size: 1.5rem;
    }
    
    .intro span {
        font-size: 1rem;
    }
    .socialsContiner{
        margin: 0rem;
    }
}