.ProjectContainer{
    display: flex;
    align-items: center;
    padding-top: 5rem;
    margin: 4rem 0 5rem 0;
    width: 100%;
    gap: 8rem;
}

.PageTitle{
    display: flex;
    flex-direction: column;

}
.PageTitle h3{
    font-size: 6rem;
    font-weight: 800;
}
.PageTitle a{
    color: green;
}

.ProjectCard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem 4rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    width: 100%;
    height: 608px;
    width: 608px;
    position: relative;
}

.ProjectTitle{
    font-size: 1.5rem;
    font-weight: 600;
}

.ProjectImage{
    border: solid;
    border-color: grey;
    border-radius: 8px;
}
/* .ProjectDescription{
    padding: 0 3rem;
} */

.ButtonContainer{
    position: absolute;
    bottom: 2rem; /* Adjust as needed to position the buttons within the card */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.btnIcon{
    margin-left: 1rem;
}
.ProjectButtons{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #365463;
    color: white;
    width: 100%;
}

.ProjectButtons button:hover{
    cursor: pointer;
    opacity: 0.75;
}

.ProjectControls {
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    background-color: #365463;
    color: white;
    padding: 10px;
}
.buttonsWrapper{
    display: flex;
    gap: 0.5rem;
}


/* large screens  */
@media (max-width: 1200px){ 
    .ProjectContainer{
        padding-top: 5rem;
        margin: 0rem;
        gap: 3rem;
        flex-direction: column;
        align-items: center;
    }
    .ProjectContainer h3{
        font-size: 5rem;
    }
    .PageTitle{
        align-items: center;
    }

}
@media (max-width: 768px){
    /* tablets  */
    .buttonsWrapper{
        flex-direction: column;
        gap: 0.5rem;
    }
    .ProjectCard{
        padding: 1.5rem 2rem;
    }
}
@media (max-width: 480px){
    /* mobile */
    .ProjectContainer{
        flex-direction: column;
        margin: 0;
        padding-top: 4rem;
        gap: 1rem;
    }
    .PageTitle{
        align-items: center;
    }
    .PageTitle h3{
        font-size: 1.5rem;
        font-weight: 800;
    }
    .PageTitle p{
        font-size: 0.8rem;
    }
    .ProjectCard{
        gap:0.5rem;
        height: 480px;
        width: 330px;
    }
    .ProjectTitle{
        font-size: 1.2rem;
    }
    .ProjectDescription{
        font-size: 0.8rem;
    }
    .ProjectButtons{
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
        width: 100%;
    }
    .ButtonContainer{
        bottom: 1rem;
    }
    .btnIcon{
        margin-left: 0.5rem;
    }

}